{
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "auto",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true
}
