// Rewrite Bootstrap variables
$body-bg: #222;
$card-bg: #303030;
$body-color: #fff;
$close-color: #fff;
$modal-content-color: #fff;
$modal-content-bg: #303030;
$modal-content-border-color: #444;

// Import bootstrap
@import "~bootstrap/scss/bootstrap";


// Global styles
body {
  color: #fff;
}